body {
    background-color: #80d8ff;
    font-family: Courier, monospace;
    line-height: normal;
}

h1 {
    font-weight: 800;
    margin-bottom: 4%;
    font-stretch: expanded;
    font-size: 3em;
}

.outer {
    margin-top: calc(var(--vh, 1vh) * 20);
}

.row {
    display: flex;
    max-height: calc(var(--vh, 1vh) * 70);
    align-items: center;
}

.column-50 {
    flex: 50%;
    padding: 5%;
    position: relative;
}

.column-33 {
    flex: 33%;
    padding: 5%;
}

.left {
    padding-left: 10%;
}

button {
    border-radius: 3px;
}

.right {
    padding-right: 10%;
}

.nopadding {
    padding: 0;
    align-items: flex-start;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.disabled {
    display: none;
}

#logo {
    max-width: 11%;
    max-height: 12%;
    top: 75%;
    left: 49.5%;
    position: absolute;
    transform: translateY(-50%);
}

#upload {
    background-color: #0390f4;
    color: white;
    margin-top: 4%;
    width: 100%;
    cursor: pointer;
    border: none;
    max-width: 85%;
    font-size: large;
    text-align: center;
    padding: 2%;
}

.blue {
    background-color: #0390f4;
}

.pink {
    background-color: #e91e63;
}

.yellow {
    background-color: #fdd835;
}

.blue-spinner {
    /* background-color: #0390f4; */
    filter: invert(44%) sepia(15%) saturate(6484%) hue-rotate(181deg) brightness(94%) contrast(105%);
}

.pink-spinner {
    /* background-color: #e91e63; */
    filter: invert(24%) sepia(85%) saturate(2635%) hue-rotate(324deg) brightness(90%) contrast(104%);
}

.yellow-spinner {
    /* background-color: #fdd835; */
    filter: invert(91%) sepia(86%) saturate(6830%) hue-rotate(326deg) brightness(102%) contrast(99%);
}

.large-text {
    font-size: large;
    font-weight: 700;
}

.medium-text {
    margin-top: 1%;
    font-size: medium;
    font-weight: 500;
}

.small-text {
    margin-top: 3%;
    font-weight: 300;
    font-size: small;
}

.circular-button {
    border: none;
    color: white;
    padding: 4%;
    margin-right: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 100%;
    cursor: pointer;
    margin-bottom: 4%;
}

.icon {
    background: url("../assets/upload_icon.svg");
    height: 22px;
    width: 24px;
    display: inline-flex;
    /* Other styles here */
}

img {
    max-width: 100%;
    max-height: 100%;
}

.loader {
    left: 52%;
    position: absolute;
    transform: translateY(-50%);
    top: 46%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}